input {
    display: none;
}

input[type=radio]:checked+label {
    border: 1px solid #bd0e0e;
    box-shadow: 0 0 3px 3px rgb(167, 33, 16);
}

label {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: white;
    color: brown;
}

label #imageContainer {
    width: 100px;
    height: 100px;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

label #imageContainer img {
    width: 100%;
}